{% extends "base.html" %}

{% block content %}

<h2>Add a new session</h2>

<form action="/add" method="post">
    <label>Date: </label>
    <input type="date" name="date" id="date">
    <label>Duration: </label>
    <input type="text" name="duration" id="duration">
    <label>Distance (km): </label>
    <input type="number" name="distance" id="distance">
    <label>Supervisor: </label>
    <input type="text" name="supervisor" id="supervisor">
    <label>Time of Day: </label>
    <select name="time_of_day" id="time_of_day">
        <option value="Day">Day</option>
        <option value="Night">Night</option>
        <option value="Dusk/Dawn">Dusk/Dawn</option>
    </select>
    <input type="submit" value="Add session">
</form>

{% endblock %}